
.lol
{
  background-color: blue;
  height: 400px;
}

.lol2
{
  background-color: red;
}

.gridContainer
{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template:
    'a a b . .'
    'a a b . .'
    'c c c c c';
  background-color: black;
}

.gridItemA
{
  grid-area: a;
}

.gridItemB
{
  grid-area: b;
}

.gridItemC
{
  grid-area: c;
}